<!DOCTYPE html>
<html>
<head>
	<title>403 Forbidden</title>
</head>
<body>

<p>Directory access is forbidden.</p>


<table border="1" cellspacing="0" cellpadding="5">
	<tr>
		<th width='20px'>NO</th>
		<th>Tgl Pesan</th>
		<th>Nama Pelanggan</th>
		<th>order id</th>
		<th>Bank</th>
		<th>total bayar</th>

	</tr>
	<tr>
		<td>1</td>
		<td>21-01-2021</td>
		<td>Ilham maulana</td>
		<td>BCA</td>
		<td>A00001</td>
		<td>10000</td>
	</tr>
	<tr>
		<td>2</td>
		<td>21-01-2021</td>
		<td>Ilham maulana</td>
		<td>BCA</td>
		<td>A00001</td>
		<td>10000</td>
	</tr><tr>
		<td>3</td>
		<td>21-01-2021</td>
		<td>Ilham maulana</td>
		<td>BRI</td>
		<td>A00001</td>
		<td>10000</td>
	</tr><tr>
		<td>4</td>
		<td>21-01-2021</td>
		<td>Ilham maulana</td>
		<td>BCA</td>
		<td>A00001</td>
		<td>10000</td>
	</tr>
	<tr>
		<td colspan="6"> 100000</td>
	</tr>
</table>


</body>
</html>
